.vscode/**
.vscode-test/**
src/**
.gitignore
.npmrc
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/node_modules/**
pnpm-lock.yaml
pnpm-workspace.yaml
*.vsix
README_pkg.md
vscodeignore_pkg